:root {
    --primary-light: #fafafa;
    --secondary-light: #222;
    --accent-light: #fdcb6e;
    --accent-dark: #fdcb6e;
    --primary-dark: #191919;
    --secondary-dark: #e6e6e6;
    --white: #fff;
    --dark: #222;
    --secondary-accent: #ffeaa7;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    font-family: 'Noto Sans', sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    padding: 5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color:#f2f4fb ;
    color: #333;
}
.dark{
    background-color: #161616;
    color: #fefefe;
}
.dark .btn{
    background-color: #222;
    color: #fff;
}
.dark .card>a{
    background: #222;
    color: #ffff;
}
h1{
    font-weight: 400;
    font-size: 24px;
}
p{
    font-size: 14px;
    color: #222;
}
img{
    height: 100px;
    border-radius: 50%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 468px;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.row{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 100%;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-weight: 400px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card>a{
    background-color: #fff;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}
i{
    font-size: 1.5rem;
}
.btn{
    width: 100%;
    padding: 1.2rem;
    text-align: center;
    margin: .5rem;
    background-color: #fff;
    color: #222;
    border-radius: 5px;
}
