:root {
    --light-bg: #f2f4fb;
    --light-text:#222;
    --light-secondary: #fff;
    --accent: #546de5;
    --dark-bg:#161616;
    --dark-text: #fafafa;
    --dark-secondary: #222;
    --sun:#fdcb6e;
    --moon:#8caede;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    transition: all 0.2s ease 0s;
}
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--light-bg) ;
    color: var(--light-text);
}
.dark,.dark p{
    background-color: var(--dark-bg);
    color: var(--dark-text);
}
.dark .btn,
.dark .card>a{
    background-color: var(--dark-secondary);
    color: var(--dark-text);
}
h1{
    font-weight: 400;
    font-size: 24px;
}
p{
    font-size: 14px;
    color: var(--light-text);
}
img{
    height: 100px;
    border-radius: 50%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.row{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin:.5rem 0;
    width: 100%;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: var(--light-text);
    font-size: 1rem;
    font-weight: 400px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card>a{
    background-color: var(--light-secondary);
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}
.card > a{
    font-size: 1.5rem;
}
.card > a:hover{
    box-shadow: 0px 15px 20px rgba(33, 43, 90, 0.4);
    transform: translateY(-7px);
    background-color: var(--accent);
    color: var(--light-secondary);
}
.btn{
    width: 100%;
    padding: 1.2rem;
    text-align: center;
    margin: .75rem 0;
    background-color: var(--light-secondary);
    color: var(--light-text);
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.btn:hover {
    box-shadow: 0px 15px 20px rgba(33, 43, 90, 0.4);
    transform: translateY(-7px);
    background-color: var(--accent);
    color: var(--light-secondary);
}

.btn:active {
    transform: translateY(-1px);
}
button{
    border: none;
    background: none;
    position: fixed;
    top: 20px;
    right:20px;
    background-color:var(--light-secondary);
    color:  var(--moon);
    padding: .5rem;
    border-radius: 50%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border: 2px solid var(--moon);
}
.dark button{
    background-color: #222;
    color: var(--sun);
    border: 2px solid var(--sun);
}
@media screen and (max-width: 600px) {
body {
        justify-content: center;
        align-items: center;
        background-color: #f2f4fb;
        color: #333;
    }
   main{
    width: 90%;
   }
   i {
       font-size: 1.2rem;
   }
}