:root {
    --primary-light: #fafafa;
    --secondary-light: #222;
    --accent-light: #fdcb6e;
    --accent-dark: #fdcb6e;
    --primary-dark: #191919;
    --secondary-dark: #e6e6e6;
    --white: #fff;
    --dark: #222;
    --secondary-accent: #ffeaa7;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    font-family: 'Noto Sans', sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    align-items: center;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: #fff;
}
h1{
    font-weight: 400;
    margin-bottom: 5px;
}
p{
   font-weight: 400; 
}
img{
    height: 100px;
    border-radius: 50%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.row{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    width: 100%;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400px;
}
.row>a{
    font-size:1.5rem;
    font-weight: 200;
    transition: all 0.3s ease 0s;
}
.row>a:hover{
    transform: translateY(-7px);
}
.btn{
    border: 1px solid #fff;
    width: 100%;
    padding: 1rem;
    text-align: center;
    margin: .5rem;
    transition: all 0.3s ease 0s;
}
.btn:hover{
    background-color: #fff;
    color: #667eea;
    transform: translateY(-7px);
}
@media screen and (max-width: 600px) {
main {
    width: 90%;
}
h1{
    font-size: 24px;
}

        
}